@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

@-webkit-keyframes zoomIn {
    from {
        -webkit-transform: translateZ(-1000px);
                transform: translateZ(-1000px);
        opacity: 0;
    }

    to {
        -webkit-transform: translateZ(0px);
                transform: translateZ(0px);
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        -webkit-transform: translateZ(-1000px);
                transform: translateZ(-1000px);
        opacity: 0;
    }

    to {
        -webkit-transform: translateZ(0px);
                transform: translateZ(0px);
        opacity: 1;
    }
}

* {
    box-sizing: border-box;
    position: relative;
}

*:focus, *:active {
    outline: none;
}

:root {
    font-size: 18px;
    line-height: 1.5rem;
}

body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    font-family: "sans-serif";
    color: #eeeeee;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    background: #000000;
}

.placeholder {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -moz-flex;
    display:  -ms-flex;
    display:   -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display:      flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
}

.placeholder h1 {
    font-family: "Press Start 2P";
    font-size: 4rem;
    text-transform: uppercase;
    line-height: 8rem;
    color: #9999ff;
    letter-spacing: 2rem;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.placeholder h1 span {
    display: inline-block;
}

.placeholder h1:first-child span:nth-child(2n) {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
}

.placeholder h1:last-child span:nth-child(2n + 1) {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
}

.spark-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
