extends ../layouts/main

block content
  canvas#circles

  .layout
    nav
      a(href="#") about me
      a(href="#") works
      a(href="#") articles
      
    h1
      span CASPIAN SEAGULL
      p: i frontend-developer


  audio#poesia(autoplay loop preload="auto")
    source(src="media/b-tribe-poesia.ogg")