<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")

    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    meta(name="google-site-verification" content="5wfLHcsydp4ldXybA4IPClBHafJVAuoGGzhaONyn4do")


    block meta
      meta(name="description" content="")

    style
      if Production
        include ../../../css/article.min.css

      else
        include ../../css/article.css

    link(rel="stylesheet", href="../css/agate.css")

    block title
      title Caspian Seagull blog

  body
    .container
      article
        block content
          h1 Page content goes here

    script(src="../source/js/highlight.pack.js")
    script.
      hljs.initHighlightingOnLoad();
    
    include ../partials/analytics