<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")

    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    meta(name="google-site-verification" content="5wfLHcsydp4ldXybA4IPClBHafJVAuoGGzhaONyn4do")

    title Caspian Seagull

    if Production
      link(rel="stylesheet", href="css/main.min.css")
      
    else
      style
        include ../../css/main.css


  body
    block content
      h1 Caspian Seagull

    if Production
      script(src="js/bundle.min.js")

    else
      script
        include ../../js/bg-circles.js
        include ../../js/main.js

    include ../partials/analytics