.container {
  --easing: cubic-bezier(0.33, -0.14, 0, 1.76);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  position: relative;
  padding: 0;
  width: 48px;
  height: 48px;
  margin-right: 10px;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  transform: translateY(0px);
  transition: transform 0.2s var(--easing), box-shadow 0.2s var(--easing);
}

.button:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 5px);
}

.button:hover {
  transform: translateY(-10px);
}

.button:hover:after {
  top: 15px;
}

.button.active {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px currentcolor;
  animation: jump 0.3s var(--easing);
}

.text {
  --slide-offset: 10px;

  color: var(--color, #fff);
  font-family: system-ui, sans-serif;
  font-size: 32px;
  text-transsform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
  transition: color 0.2s ease;
  margin-top: 16px;
  user-select: none;
}

@keyframes jump {
  0% {
    scale: 1;
  }

  40% {
    scale: 0.9;
  }

  100% {
    scale: 1;
  }
}
