*
	box-sizing border-box
	position relative

	&:focus
	&:active
		outline none

:root
	font-size rem
	line-height 1.5rem

body
html
	width 100%
	height 100%
	padding 0
	margin 0
	overflow hidden
	// cursor none

body
	font-family 'sans-serif'
	color #eee
	transform translate3d(0, 0, 0)
	background #000


.placeholder
	position absolute
	z-index 10
	width 100%
	height 100%
	top 0
	left 0
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	align-items center
	justify-content center
	flex-direction column

	h1
		font-family "Press Start 2P"
		font-size 4rem
		text-transform uppercase
		line-height 8rem
		color #99f
		letter-spacing 2rem
		transform-style: preserve-3d;

		span
			display inline-block

		&:first-child
			span:nth-child(2n)
				transform translateZ(50px)

		&:last-child
			span:nth-child(2n + 1)
				transform translateZ(50px)
