*
	box-sizing border-box
	position relative

	&:focus
	&:active
		outline none

:root
	font-size rem
	line-height 1.5rem

body
html
	width 100%
	height 100%
	padding 0
	margin 0
	overflow hidden
	// cursor none

body
	font-family 'sans-serif'
	color #eee
	transform translate3d(0, 0, 0)
	background #000