<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="keywords" content="")
		meta(name="description" content="")

		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

		link(rel="stylesheet", href="css/main.css")
			
		block title

	body
		block content

		script(src="js/libs.js")
		script(src="js/scripts.js")
