.wrapper {
  display: flex;
  align-items: baseline;
  flex-wrap:wrap;
  justify-content: flex-start;
}

.word {
  flex-shrink: 0;
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;

  &::after {
    content: " ";
  }
}

.charContainer {
  position: relative;
  line-height: 1;
}

.visible {
  & .char {
    transform-origin: 50% 100%;
    animation:
      var(--slideIn90) easeInOutQuint both,
      var(--zoomIn) easeInOutQuint both;
  }
}

.hidden {
  & .char {
    transform-origin: 50% 100%;
    animation:
      var(--slideOut0) easeInOutQuint both,
      var(--fadeOut) easeInOutQuint both;
  }
}