.wrapper {
  display: flex;
  align-items: baseline;
  flex-wrap:wrap;
  justify-content: flex-start;
}

.word {
  flex-shrink: 0;
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;

  &::after {
    content: " ";
  }
}

.charContainer {
  position: relative;
  /* overflow: hidden; */
}
  
.visible .wordAnimated,
.visible .char {
  animation: var(--zoomIn) var(--easeSpring) both;
}

.hidden .wordAnimated,
.hidden .char {
  animation: var(--zoomOut) var(--easeSpring) both;
}