<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")

    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    title Caspian Seagull

    style
      if Production
        include ../css/main.min.css
      
      else
        include ../css/main.css


  body
    canvas#circles

    .layout
      nav
        a(href="#") about me
        a(href="#") works
        a(href="#") articles
        
      h1
        span CASPIAN SEAGULL
        p: i frontend-developer


    audio#poesia(autoplay loop preload="auto")
      source(src="source/media/b-tribe-poesia.ogg")



    script
      if Production
        include ../js/bundle.min.js

      else
        include ../js/bg-circles.js
        include ../js/main.js