extends ../layouts/main.jade

include ../blocks/spark-bg/spark-bg

block title
	title dead seagull

block content

	+spark-bg()

	.placeholder 
		h1.js-mover(data-offset="-100 30 -20 20")
			span c
			span a
			span s
			span p
			span i
			span a
			span n

		h1.js-mover(data-offset="100 -30 20 -20")
			span s
			span e
			span a
			span g
			span u
			span l
			span l