// Any value by width
below(value)
  @media (max-width: value)
    {block}

above(value)
  @media (min-width: value)
    {block}

between(min=0px, max=2560px)
  @media (min-width: min) and (max-width: max)
    {block}



// Any value by height
below-height(value)
  @media (max-height: value)
    {block}

above-height(value)
  @media (min-height: value)
    {block}

between-height(min=0px, max=2560px)
  @media (min-height: min) and (max-height: max)
    {block}
