// Colors
color-text   = #222
color-accent = rgb(195,13,32)

// Vertical rhythm
scale = 1.5
rem   = 18px
lh    = rem * scale

m-rem = 16px
m-lh  = m-rem * scale

// Breakpoints
bp_xs-sm = 768px
bp_sm-md = 980px
bp_md-lg = 1200px

// viewport height - 120px
bp-v_sqr-full = 900px // 1280 x 1024 - 1920 x 1080
bp-v_hd-full  = 780px // 1600 x 900  - 1920 x 1080
bp-v_mid-hd   = 648px // 1366 x 768  - 1600 x 900
bp-v_mid      = 600px // 1280 x 720  - 1366 x 768
