body {
  background: #fafafa;
}

.layout {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cell {
  width: 480px;
  height: 480px;
}

.navigation {
  width: 480px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}