:root {
  font-size: 16px;
}
* {
  box-sizing: border-box;
  position: relative;
}
*:focus {
  outline: none;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background: #fafafa;
  font-family: 'Ubuntu', 'Open Sans', 'Arial', sans-serif;
  font-size: 1rem;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 4.5rem 0;
  line-height: 3rem;
}
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a,
a:llnk,
a:visited,
a:active {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
form {
  display: block;
}
form input,
form select,
form textarea {
  display: inline-block;
  padding: 10px;
  border: 1px solid #b1b1b1;
  color: #464a4e;
}
.topline_1wIq {
  padding: 0.5rem 0;
  line-height: 1.5rem;
}
.logo_1grB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.logo_1grB > a {
  position: relative;
  left: -32px;
}
.location_2Etd {
  display: block;
  width: 100%;
}
.location_2Etd:after {
  content: '';
  display: block;
  position: absolute;
  left: -16px;
  top: -2px;
  width: 1px;
  background: #ccc;
  height: 100%;
}
.location_2Etd span {
  display: block;
  font-size: 16px;
  line-height: 1;
}
.location_2Etd a {
  color: #a5a5a5;
  font-size: 12px;
  line-height: 1;
  text-decoration: none;
}
.location_2Etd a:hover {
  color: #333;
  text-decoration: underline;
}
.user_1HP3 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 1rem;
}
.user_1HP3 a[href*='bookmark'] {
  font-size: 12px;
  color: #494343;
  text-decoration: none;
}
.user_1HP3 a[href*='bookmark']:hover {
  color: #222;
  text-decoration: underline;
}
.user_1HP3 a[href*='bookmark']:before {
  content: '';
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 0.5rem;
  width: 14px;
  height: 14px;
  background: url("/img/icons/main-bookmark.svg") no-repeat center;
  background-size: 12px auto;
}
.user_1HP3 nav {
  display: block;
  width: 100%;
  text-align: right;
}
.user_1HP3 nav a {
  display: inline-block;
  font-size: 12px;
  color: #888;
  text-decoration: none;
  margin-left: 1em;
}
.user_1HP3 nav a:first-child {
  margin-left: 0;
}
.user_1HP3 nav a:hover {
  color: #222;
  text-decoration: underline;
}
.userInfo_3CGZ {
  position: relative;
}
.userInfo_3CGZ button {
  background: transparent;
  border: none;
  display: block;
  line-height: 1;
  font-size: 16px;
  color: #352f2f;
  padding: 0 0 0 1rem;
  border-left: 1px solid #ccc;
  margin-left: 1rem;
  cursor: pointer;
}
.userInfo_3CGZ button:after {
  content: '';
  display: inline-block;
  margin-left: 1rem;
  top: -3px;
  position: relative;
  width: 8px;
  height: 8px;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.userInfo_3CGZ button:hover + .userExtra_XXyx {
  display: block;
}
.userExtra_XXyx {
  display: none;
  position: absolute;
  width: 140%;
  top: -1.7rem;
  right: -55%;
  border-radius: 0 0 4px 4px;
  background: #fff;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
  z-index: 500;
  padding: 1.7rem 1rem 1rem;
}
.userExtra_XXyx:hover {
  display: block;
}
.userExtra_XXyx a {
  font-size: 12px;
  font-weight: 500;
  color: #aaa;
  line-height: 2;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
  display: block;
}
.userExtra_XXyx a:hover {
  color: #555;
}
.userExtra_XXyx hr {
  border: none;
  background: #eaeaea;
  height: 1px;
}
.userExtra_XXyx button {
  margin: 0 0 1rem 0;
  padding: 0;
  border: none;
}
.userExtra_XXyx button:after {
  top: 3px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.Footer_3vtb {
  background: #323232;
  padding: 1.5rem 0;
}
.Footer_3vtb span {
  font-size: 14px;
  line-height: 1.5rem;
  color: #696969;
}
.Footer_3vtb span a {
  color: #878787;
  text-decoration: none;
}
.Footer_3vtb span a:hover {
  color: #adadad;
}
.Footer_3vtb nav a {
  display: inline-block;
  margin-right: 1rem;
  color: #fedb60;
  text-decoration: none;
  font-size: 12px;
  line-height: 1.5rem;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.Footer_3vtb nav a:hover {
  color: #ffc000;
  border-bottom: 1px solid #ffc000;
}
.wrapper_cWFj {
  position: relative;
}
.MainLinks_3U5U {
  display: block;
}
.MainLinks_3U5U h2 {
  line-height: 1.5;
  margin: 0;
}
.MainLinks_3U5U h2 a {
  color: #342525;
  text-decoration: none;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  font-size: 24px;
}
.MainLinks_3U5U h2 a:hover {
  color: #d84024;
}
.MobileLinks_3_On {
  text-align: right;
  padding-top: 8rem;
}
.MobileLinks_3_On > img {
  position: absolute;
  bottom: 2rem;
  right: -70px;
}
.MobileLinks_3_On a {
  display: inline-block;
  margin: 0.5rem 0 0 0.5rem;
}
.linkGroup_3csE {
  margin-bottom: 3rem;
}
.linkGroup_3csE > a {
  display: inline-block;
  margin-right: 0.75rem;
  font-size: 0.8rem;
  color: #a5a5a5;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-bottom: 1px solid transparent;
}
.linkGroup_3csE > a:hover {
  color: #222;
  border-bottom: 1px solid #222;
}
.MainService_2szw {
  background: #3b3b3b;
  padding: 1.5rem 0;
}
.item_3e0g img {
  max-width: 100%;
}
.info_1cHG {
  position: absolute;
  bottom: 0;
  padding: 0.6rem 0.5rem;
  width: 100%;
}
.info_1cHG span {
  display: block;
  line-height: 1.5;
  font-size: 16px;
  color: #fedb60;
  font-weight: bold;
}
.info_1cHG a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.main_K_99 {
  color: #342525;
  background: #fff url("/img/main-bg.png") no-repeat right top;
}
nav.Pagination_CSXZ {
  display: block;
  width: 100%;
  text-align: right;
  padding: 1.5rem 0;
}
nav.Pagination_CSXZ a {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: #fff;
  border-radius: 4px;
  color: #323232;
  text-align: center;
  line-height: 2rem;
  text-decoration: none;
  margin-left: 0.5rem;
  box-shadow: 0 0 16px rgba(0,0,0,0.09);
}
nav.Pagination_CSXZ a:hover {
  background: #ffc000;
  color: #323232;
  text-decoration: none;
}
nav.Pagination_CSXZ a:hover.activeLink_37bD,
nav.Pagination_CSXZ a.activeLink_37bD {
  background: #323232;
  color: #fff;
}
.Menu_FPZ4 {
  display: block;
  background: #3b3b3b;
  line-height: 3rem;
}
.Menu_FPZ4 a {
  text-decoration: none;
}
.Menu_FPZ4 nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.Menu_FPZ4 nav a {
  display: inline-block;
  color: #eee;
  font-size: 14px;
  text-decoration: none;
}
.Menu_FPZ4 nav a.activeLink_-SJs {
  color: #fedb60;
  font-weight: bold;
}
.Menu_FPZ4 nav a.activeLink_-SJs:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  width: 0;
  height: 0;
  left: 50%;
  margin: 0 0 0 -8px;
  border: 8px solid transparent;
  border-bottom-color: #fff;
}
aside {
  position: relative;
  background: #fff;
  box-shadow: 0px 6px 18px rgba(0,0,0,0.08);
}
.links_18Kd {
  height: 100%;
}
.links_18Kd a {
  display: inline-block;
  margin: 0 2rem 0 0;
  font-size: 14px;
  color: #555;
  -webkit-transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease;
  box-shadow: 0 0 0 tranparent inset;
}
.links_18Kd a:after {
  content: '';
  position: absolute;
  right: -1rem;
  top: 1rem;
  display: inline-block;
  width: 1px;
  height: 1rem;
  background: #ccc;
}
.links_18Kd a.activeLink_-SJs {
  font-weight: bold;
  box-shadow: 0 -3px 0 #fedb60 inset;
}
.newAd_2yFL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
  color: #db9316;
  font-size: 1rem;
  font-weight: 500;
}
.newAd_2yFL span {
  text-decoration: none;
}
.newAd_2yFL img {
  margin-left: 1rem;
}
.Catalog_3rNi {
  display: block;
}
.ViewItem_396o {
  color: #008000;
}
.Filter_8fM4 {
  display: block;
}
.Filter_8fM4 select {
  margin-top: 1.5rem;
  position: relative;
  display: block;
  width: 100%;
  padding: 1rem 1.5rem 1rem 1rem;
  background: #fff url("/img/icons/ddarrow.svg") no-repeat 95% center;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 16px rgba(0,0,0,0.09);
  font-size: 1rem;
  color: #323232;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.SideBar_3U_1 {
  margin-top: 1.5rem;
}
.mapToggle_23hU {
  display: block;
  width: 100%;
  border: none;
  border-radius: 6px;
  background: #fff url("/img/icons/main-button-map.svg") no-repeat 1rem center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-align: center;
  line-height: 3rem;
  font-size: 1rem;
  font-weight: 500;
  padding-left: 3rem;
  color: #323232;
  cursor: pointer;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.mapToggle_23hU:hover {
  background-color: #fff;
  box-shadow: 0 4px 16px rgba(0,0,0,0.15);
}
.promo_32ow {
  display: block;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin: 1.5rem 0 0 0;
  padding: 0;
  overflow: hidden;
  background: transparent;
}
.promo__info_3BLH {
  background: #fff url("/img/promo-hand.jpg") no-repeat right bottom;
  background-size: 6rem auto;
  padding: 1.5rem;
}
.promo__info_3BLH h3 {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #342525;
  margin: 0 0 2rem 0;
}
.promo__info_3BLH span {
  font-size: 1rem;
  color: #6e6969;
  line-height: 1.5rem;
}
.promo__links_2qCU {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  line-height: 3rem;
}
.promo__links_2qCU a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fedb60;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 3rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.promo__links_2qCU a img {
  max-width: 100%;
}
.promo__links_2qCU a:last-child {
  border-left: 1px solid #fecf2c;
}
.promo__links_2qCU a:hover {
  background: #fecf2c;
}
.PreviewTransport_3ma8 {
  padding: 1.5rem;
  border-bottom: 1px solid #eee;
}
.image_22DQ {
  overflow: hidden;
  line-height: 0;
}
.image_22DQ img {
  max-width: 100%;
}
.title_tYff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.title_tYff h4 {
  margin: 0;
  color: #db9316;
  line-height: 1.5rem;
  font-size: 18px;
}
.bookmark_3kSm {
  width: 1rem;
  height: 1rem;
  background: #ffc000;
}
.AdsList_2g2C {
  display: block;
}
.adsActions_ayju {
  margin-top: 1.5rem;
}
.adsActions_ayju select {
  position: relative;
  display: block;
  width: 100%;
  padding: 1rem 1.5rem 1rem 1rem;
  background: #fff url("/img/icons/ddarrow.svg") no-repeat 95% center;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 16px rgba(0,0,0,0.09);
  font-size: 1rem;
  color: #323232;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-weight: bold;
}
.search_lexF {
  position: relative;
}
.search_lexF button {
  position: absolute;
  top: 0.45rem;
  right: 0.4rem;
  border: none;
  background: #eee;
  text-align: center;
  color: #323232;
  border-radius: 2px;
  padding: 0.7rem 1rem;
  font-weight: bold;
  cursor: pointer;
}
.search_lexF button:hover {
  background: #dadada;
}
.search_lexF input[type="text"] {
  position: relative;
  display: block;
  width: 100%;
  padding: 1rem 3rem;
  background: #fff url("/img/icons/search.svg") no-repeat 3% center;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 16px rgba(0,0,0,0.09);
  font-size: 1rem;
  color: #323232;
}
.info_3jXf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1rem;
  margin-top: 1.5rem;
}
.info_3jXf h4 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-weight: 100;
}
.info_3jXf span {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #616161;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.info_3jXf span:hover {
  color: #333;
}
.listContainer__Zkl {
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  width: 100%;
  box-shadow: 0 0 16px rgba(0,0,0,0.09);
}
