.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
}

.title {
  --slide-offset: 20px;
  --zoom-scale: 0;

  position: fixed;
  top: 2vh;
  left: 50%;
  translate: -50% 0;
  letter-spacing: -0.05em;
  font-size: 5vw;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--theme-green-light);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
}

@media (prefers-color-scheme: dark) {
}
