.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.title {
  font-size: 96px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@media (prefers-color-scheme: dark) {
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* 0 (360) DEG IN-OUT */
@keyframes slideIn0deg {
  from {
    translate: -1em 0;
  }

  to {
    translate: 0 0;
  }
}

@keyframes slideOut0deg {
  from {
    translate: 0 0;
  }

  to {
    translate: 1em 0;
  }
}


/* 180 DEG IN-OUT */
@keyframes slideIn180deg {
  from {
    translate: 1em 0;
  }

  to {
    translate: 0 0;
  }
}

@keyframes slideOut180deg {
  from {
    translate: 0 0;
  }

  to {
    translate: -1em 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Lettered */
.lettered {
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.letterContainer {
  position: relative;
  overflow: hidden;
}

.letteredVisible .letterCharacter {
  animation: slideIn0deg 0.5s ease both, fadeIn 0.5s ease both;
}

.letteredHidden .letterCharacter {
  animation: slideOut0deg 0.5s ease both, fadeOut 0.5s ease both;
}
